---
interface Props {
    title: string;
    href?: string;
}

const { title, href } = Astro.props;
---

<section class="w-full flex flex-col gap-2">
    <div class="flex flex-row items-center justify-between border-b border-dashed border-gray">
        <h2 class="text-xs font-semibold text-gray">{title}</h2>

        {href && (
            <a href={href} class="text-sm hover:font-semibold px-2">More {">>"}</a>
        )}
    </div>

    <slot/>
</section>
