---
import { Icon } from "astro-icon/components";

interface Props {
    href: string,
    icon?: string,
}

const { href, icon } = Astro.props;
---

<a href={href} class="px-2 py-1 flex flex-row gap-2 items-center border hover:bg-white hover:font-semibold text-sm hover:text-black cursor-pointer">
    {icon && (
        <Icon name={icon}/>
    )}

    <slot/>
</a>
