---
interface Props {
    href: string;
    publicationDate: Date;
    title: string;
}

const props = Astro.props;

// Format date as YYYY-MM-DD
const publicationDate = props.publicationDate.toISOString().slice(0, 10);
---

<a href={props.href} class="w-full p-2 flex flex-col gap-2 hover:bg-light hover:text-dark hover:font-semibold border border-dashed border-gray hover:border-solid hover:border-light">
    <div class="w-full aspect-square border"></div>
    <div>
        <p class="text-xs text-gray">{publicationDate}</p>
        <p>{props.title}</p>
    </div>
</a>
