#article {
    h1 {
        font-size: 32px;
        font-weight: 600;
        margin-top: 32px;
    }

    h2 {
        font-size: 28px;
        font-weight: 600;
    }

    h3 {
        font-size: 24px;
        font-weight: 600;
    }

    h4 {
        font-size: 20px;
        font-weight: 600;
    }

    a {
        color: #7070ff;
        &:hover {
            text-shadow: 0 0 1px #ffffff;
        }
    }

    pre {
        padding: 10px;
        margin: 10px 5px;

        font-size: 13px;

        background-color: transparent !important;

        border: 1px dashed #6b7280;
    }
}
