---
import RootLayout from "@layouts/RootLayout.astro";
---

<RootLayout 
    breadcrumbs={[
        { title: "home", href: "/" },
        { title: "error", href: "" },
        { title: "500", href: "" },
    ]}
>
    <div class="flex flex-col gap-1 text-sm">
        <div class="-sm text-red-400">[ERROR] Don't panic. It's just error 500 (Internal server error).</div>
        <div class="-sm text-red-400">[ERROR] Your computer isn't broken. This website is broken.</div>
        <div>$ Return to home page? [<a href="/" class="font-semibold hover:font-bold underline">YES</a>/NO]</div>
    </div>
</RootLayout>
